.checkbox {
  height: 40px;
  width: 40px;
  text-align: center;
  margin: auto 0;
  border: none;
  appearance: none;
  cursor: pointer;
}

.unchecked {
  composes: checkbox;
}

.unchecked:after {
	content: url('../assets/empty.svg');
}

.checked {
  composes: checkbox;
}

.checked:after {
  content: url('../assets/check_mark.svg');
}
