{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "standard",
    "jest"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {
        "singleQuote": true
      }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ]
}
