.searchField {
  position: absolute;
  top: -55px;
  right: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  background: none;
  transform: rotate(90deg);
  cursor: pointer;
}

.unchecked {
  composes: searchField;
}

.checked {
  composes: searchField;
}
