@import 'vars';

.filterButton {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;

  &:hover {
    border-color: $filterButtonHoverBorderColor;
  }
}

.active {
  composes: filterButton;
  border-color: $filterButtonActiveBorderColor;
}
